<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>example</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrormServlet</display-name>
    <servlet-name>FrormServlet</servlet-name>
    <servlet-class>servlet.FrormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrormServlet</servlet-name>
    <url-pattern>/FrormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FowardServlet</display-name>
    <servlet-name>FowardServlet</servlet-name>
    <servlet-class>servlet.FowardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FowardServlet</servlet-name>
    <url-pattern>/FowardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex</display-name>
    <servlet-name>Ex</servlet-name>
    <servlet-class>servlet.Ex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex</servlet-name>
    <url-pattern>/Ex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthCheck</display-name>
    <servlet-name>HealthCheck</servlet-name>
    <servlet-class>servlet.HealthCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthCheck</servlet-name>
    <url-pattern>/HealthCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitServlet</display-name>
    <servlet-name>FruitServlet</servlet-name>
    <servlet-class>servlet.FruitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitServlet</servlet-name>
    <url-pattern>/FruitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>servlet.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MinatoIndex</display-name>
    <servlet-name>MinatoIndex</servlet-name>
    <servlet-class>servlet.MinatoIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MinatoIndex</servlet-name>
    <url-pattern>/MinatoIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CounterServlet</display-name>
    <servlet-name>CounterServlet</servlet-name>
    <servlet-class>servlet.CounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServlet</servlet-name>
    <url-pattern>/CounterServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.CounterListener</listener-class>
  </listener>
  <filter>
    <display-name>SetEncodinfFilter</display-name>
    <filter-name>SetEncodinfFilter</filter-name>
    <filter-class>filter.SetEncodinfFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetEncodinfFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>